footer{
    margin-top: auto;
    background-color: #2f2f2f;
    padding: 20px;
    width: 97.6%;
}

p{
    text-align: center;
    color: white;
}

.redirect{
    cursor: pointer;
    font-weight: 800;
}

@media screen and (max-width: 768px) {
    footer {
      width: 115%;
    }
  }
